

html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 5;
    border-bottom: 1px solid black;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    /* background-color: yellowgreen; */
    margin: 0;
    padding: 0;
}

nav li{
    height: 50px;
    margin: 15px 15px;

}
nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
nav ul li img{
    height: 70px; 
    width: 80%;
}
nav #ul li:nth-child(n+2):hover{
    /* background-color: rgba(255, 255, 255, 0.604); */
    transform: scale(1.2);
}


nav li:first-child{
    margin-right: auto; /** to get first child i.e. Logo at left side**/
}
.hideOnMobile{
    display: flex;
}

.viewOnMoblie{
    display: none;
}
.sidebar{
    position: fixed;
    top:0%;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: none;
    flex-direction: column ;
    background-color: rgba(254, 254, 255, 0.814);
    justify-content: flex-start;
    
    color: rgb(0, 0, 0);
}

.sidebar li{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90px;
    border-bottom: 1px solid black;
   /* padding: 5px; */
}
.sidebar li:hover{
    transform: scale(1);
}

.sidebar li:hover{
    background-color: rgba(255, 255, 255, 0.899);
}

/*Main*/
main{
    padding: 0;
    margin-bottom: 20px;
}
/*Heading*/
#heading{
    display: flex;
    align-items: center;
    height: 100vh;
    /* padding: 0 0 0 15px; */
    background-image: url('ai4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.heading-info{
    width: 50%;
    /* background-color: red; */
    padding: 15px;
}

.heading-info h1{
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 5px;
}
/* .heading-img{
    background-image: url('ai4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
} */
.heading-info #arr{
    /* display: none; */
    visibility: hidden;
}
.social{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50%;
}

.social i{
    scale: 1.3;
    margin: 15px;
}

.social .fa-brands{
    position: relative!important;
    z-index: 0!important;    
}
.btns{
    width: 50%;
    display: flex;
    justify-content: center;
}
#book-btn{
    position: relative;
    /* background-color: red; */
    border: 2px solid rgb(240, 57, 57);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 70px;
    width: 200px;
    overflow: hidden;
    text-align: center;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
#book-btn:active{
    transform: scale(0.8);
}
#book-btn h2{
    z-index: 1;
}
.ani{
    position: absolute;
    background-color: rgb(240, 57, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all .7s ease-in-out;
    transform: translate(0px,200px);
}

#book-btn:hover .ani{
    /* transition: all .3s; */
    transform: translate(0,0);
}


/*About us*/
#about{
    padding: 15px 50px;
    font-size: 20px;
}
#about p{
    text-align: center;
    padding: 0 50px;
}

/*Our services*/
#services{
    width: 100%;
    /* overflow: hidden; */
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    gap: 25px;
    width: 100%;
    flex-wrap: wrap;

    
}
.card:hover{
    transform: scale(1.1);
}
.card{
    height: 450px;
    width: 250px;
    background-color: red;
    padding: 25px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
.card:nth-child(2){
    background-color: yellowgreen;
}
.card:nth-child(3){
    background-color: green;
}
.card-info h1{
    margin: 0;
}
.card-info{
    height: 25%;
}

.pricing{
    margin: 0;
}
.pricing h1,h2{
    margin: 0;
}
.book{
    margin-top: 10px;
    display: flex;
    background-color: black;
    padding: 10px;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.book:active{
    transform: scale(0.8);
}


/*Why use Epicurean Reserve*/
#why{
    margin: 25px 0 0 0;
    background-image:url('why-back.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.why-cards{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 15px;
}
.why-card{
height: 250px;
width: 250px;
background-color: rgba(255, 255, 255, 0.599);
border-radius: 40px;
color: black;
text-align: center;
overflow: hidden;
}

.why-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    padding: 10px;
    
    /* backdrop-filter: blur(5px); */
}

.why-img img{
    max-width: 100%;
    max-height: 100%;
    /* padding: 15px; */
    /* mix-blend-mode:multiply; */
    
}




/*Testimonial*/
#testinomials{
    box-sizing: border-box;
}
.testinomial{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 500px;
    gap:15px;
    box-sizing: border-box;
    padding: 25px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}
.testinomial::-webkit-scrollbar {
    display: none;/*hide scrollbar in chrome*/
  }
.test-card{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color:rgb(22, 128, 10);
    padding: 15px;
    position: relative;
    /* text-align: justify; */
    /* text-overflow:unset; */
    border-radius: 15px;
    flex: 0 0 auto; /*Use it to not let your items size change while overflow*/
    border: 2px solid white;
}
.test-card:hover{
    background-color: white;
    color: black;
    border:2px solid #000!important;
}
.test-card p{
    margin-bottom: 0;
}
.test-img{
    position: absolute;
    background-color: red;
    height:140px;
    width: 140px;
    border-radius:50% ;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
}
.test-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.rating{
    display: flex;
    margin-top: 70px;
}
.rating .fa-star{
    color: gold;
}

.testimonialsContainer{
    cursor: grab;
}
/*FAQ*/
.faqs{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    padding: 0 30px ;
}
.inside-faq{
    /* background-color: beige; */
    /* height: 50px; */
    width: 70%;
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid white;
    justify-content: flex-start;
    font-size: x-large;   
    cursor: pointer;
}

.faq-info{
    width: 100%;
    /* padding: 15px 30px; */
    display: flex;
    /* align-items: center; */
    /* border-bottom: 3px solid white; */
    justify-content: flex-start;
    align-items: center;
    /* text-align: start; */
}
.faq-info .down{
    margin-left:auto ;

}
.ans{
    display: none;
    
}
.show-answer .ans {
    display: block;
    height: auto;
    margin-right: auto
}
.show-answer .faq-info i {
    transform: rotate(180deg);
}

/*History*/
#history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(33,92,202);


}
.history{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    gap: 5px;
    font-size: 25px;
    /* border-radius: 50% 50% 0 0; */
}
.history h1{
    font-size: 45px;
}



/*Footer*/

footer{
    /* height: 30vh; */
    background-color: white;
    /* text-align: center; */
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    /* text-align: center; */

}

.contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: black;
}
.contact h1{
    margin: 0%;
    text-align: center;
}

.contact p{
    margin: 5px 15px;
}
.social-contact{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* transform: scale(1.3); */
}

.social-contact .fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width:679px) {
    .hideOnMobile{
        display: none;
    }
    
    .viewOnMoblie{
        display: flex;
    }
    .btns{
        width: 100%;
    }


    #heading{
        flex-wrap: wrap;
    }
    #heading .heading-info{
        width: 100%;
        text-align: center;
    }
    .heading-info #arr{
        display: flex;
        justify-content: center;
    }
    .social{
        width: 100%;
    }

    /* .heading-info #arr{
        visibility: visible;
    } */
    #about p{
        padding: 0%;
    }
    .card{
        gap: 15px;
    }
    .card:hover{
        transform: scale(1);
    }

    .why-card{
        /* transform: scale(0.6); */
        margin: 0;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .contact{
        margin: 15px 0px;
    }
    .history h1{
        font-size: 35px;
    }

    #history{
        margin: 0;
    }
        #heading h1{
        font-size: 50px;
    }
    .card{
        height: auto;
    }
    .inside-history p{
        font-size: 17px;
    }
    nav ul li img{
    height: 30%;
    width: 30% ;
        object-fit:cover;
    }
}

@media screen and (max-width:400px){
    nav{
        height: 60px;
    }
    #heading h1{
        font-size: 50px;
    }

}
